.main-section {
  background: #dce6ee;
  padding: 100px 20px;
  display: flex;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  justify-content: center;
}


.box {
  background: #f3f1ee;
  max-width: 600px;
  width: 100%;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

.box h2 {
  color: #1e88c8;
  margin-bottom: 10px;
}

.box p {
  color: #555;
  margin-bottom: 25px;
}

.toggle {
  background: #d5dde4;
  border-radius: 30px;
  display: flex;
  margin-bottom: 30px;
}

.toggle button {
  flex: 1;
  padding: 12px;
  border: none;
  background: transparent;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}

.toggle .active {
  background: #1e88c8;
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 25px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
  border: 1px solid #ddd;
  position: relative;
}

.card h3 {
  color: #1e88c8;
}

.card span {
  font-size: 13px;
  color: #888;
}

.special {
  border: 2px solid #1e88c8;
}

.tag {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: #1e88c8;
  color: white;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 20px;
}

.input-box {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.big-btn {
  width: 100%;
  padding: 18px;
  border-radius: 40px;
  background: #0e7dd1;
  border: none;
  font-weight: 600;
  margin-bottom: 20px;
}

.small-info {
  font-size: 14px;
  color: #777;
}
