.meal-section {
  background: #f3f1ee;
  text-align: center;
  padding: 100px 20px;
}

.meal-section h2 {
  color: #1e88c8;
  font-size: 32px;
  margin-bottom: 10px;
}

.meal-section p {
  color: #555;
  margin-bottom: 60px;
}

/* Beige container */
.meal-box {
  background: #e9e4dc;
  padding: 60px 40px;
  border-radius: 25px;
  max-width: 1000px;
  margin: 0 auto;
}

.meal-img {
  width: 60%;
  max-width: 500px;
  border-radius: 25px;
  margin-bottom: 50px;
}

/* Cards below image */
.meal-items {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.meal-card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  width: 180px;
  text-align: center;
  transition: 0.3s ease;
}

.meal-card:hover {
  transform: translateY(-6px);
}

.emoji {
  font-size: 30px;
  margin-bottom: 10px;
}

.meal-card h4 {
  margin-bottom: 8px;
}

.meal-card span {
  font-size: 13px;
  color: #777;
}
.kitchen-text {
  margin-top: 40px;
  font-style: italic;
  color: #7a8aa0;
  font-size: 14px;
}

.price-text {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  font-weight: 500;
}

.meal-btn {
  margin-top: 30px;
  padding: 16px 40px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(to right, #2aa7df, #1e88c8);
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.meal-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}
