
.topbar {
  background: #1e88c8;
  color: white;
  font-size: 14px;
}

.topbar__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.divider {
  opacity: 0.6;
}
