.video-section {
  background: #1e88c8;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.video-section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.video-section p {
  margin-bottom: 50px;
}

.video-box {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.video-box iframe {
  width: 100%;
  height: 500px;
  border: none;
}
